<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/session-attr/login}" method="post" th:object="${loginForm}">
    <label for="id">id: </label>
    <input id="id" type="text" th:field="*{id}" required maxlength="20">
    <label for="password">password: </label>
    <input id="password" type="password" th:field="*{password}" required maxlength="20">
    <button type="submit">login</button>
</form>
</body>
</html>